# These owners will be the default owners for everything in the repository.
*                            @d-bytebase

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @tianzhou
go.mod                       @d-bytebase @tianzhou

# Schema files.
/store/migration             @d-bytebase @tianzhou

# SQL kernel.
/plugin/advisor              @d-bytebase @rebelice
/plugin/db                   @d-bytebase @rebelice
/plugin/parser               @d-bytebase @rebelice
