            <div style="margin-top: 24px;">
                <h2 class="environment-tile text-center">{{ENVIRONMENT_NAME}}</a></h2>
                <table id="slow-query" style="margin: auto">
                    <tr>
                        <th>Type</th>
                        <th>DB</th>
                        <th>Slow Query</th>
                        <th>Total Query Count</th>
                        <th>Query Count</th>
                        <th>Max Query Time</th>
                        <th>Avg Query Time</th>
                        <th>Query Time</th>
                    </tr>