root = "."
tmp_dir = ".air"

[build]
  bin = "./.air/bb version"
  cmd = """
  go build \
  -ldflags " \
  -X 'github.com/bytebase/bytebase/backend/bin/bb/cmd.version=development' \
  -X 'github.com/bytebase/bytebase/backend/bin/bb/cmd.goversion=$(go version)' \
  -X 'github.com/bytebase/bytebase/backend/bin/bb/cmd.gitcommit=$(git rev-parse HEAD)' \
  -X 'github.com/bytebase/bytebase/backend/bin/bb/cmd.buildtime=$(date -u +"%Y-%m-%dT%H:%M:%SZ")' \
  -X 'github.com/bytebase/bytebase/backend/bin/bb/cmd.builduser=$(id -u -n)' \
  " \
  -o ./.air/bb ./backend/bin/bb/main.go"""
  delay = 1000
  exclude_dir = [".air", "vendor", "frontend", "docs"]
  exclude_file = []
  exclude_regex = []
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
