# Using `git update-index --assume-unchanged scripts/.air.toml` to let git untrack it.
root = "."
tmp_dir = ".air"

[build]
  bin = './.air/bytebase --port 8080 --data . --debug --disable-sample --development-use-v2-scheduler'
  ## Use --tags "store.db" to enable SQL query logging against our metadata db.
  cmd = """
  go build \
  --tags "" \
  -o ./.air/bytebase ./backend/bin/server/main.go"""
  delay = 500
  exclude_dir = [".air", "vendor", "frontend", "docs"]
  exclude_file = []
  exclude_regex = []
  exclude_unchanged = false
  follow_symlink = false
  send_interrupt = true
  kill_delay = 1000
