# https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks
name: Backend Tests

on:
  pull_request:
    branches:
      - main
      - "release/*.*.*"
    paths:
      - "docs/**"
      - "frontend/**"
      - "scripts/**"
      - "quickstart/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required"'
