name: Backend Tests

on:
  pull_request:
    branches:
      - 'main'
      - 'release/*.*.*'
    paths:
      - 'backend/**'
      - 'go.mod'
      - 'proto/**/*.go'
      - 'action/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  go-tests:
    runs-on: self-hosted
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.3'
          cache: false # Caching is slow.
      - name: Install mongosh
        run: |
          if ! command -v mongosh &> /dev/null; then
            echo "Installing mongosh..."
            if [[ "$OSTYPE" == "linux-gnu"* ]]; then
              curl -fsSL https://www.mongodb.org/static/pgp/server-8.0.asc | sudo tee /usr/share/keyrings/mongodb-server-8.0.asc > /dev/null
              echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-8.0.asc ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/8.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-8.0.list
              sudo apt-get update
              sudo apt-get install -y mongodb-mongosh
            elif [[ "$OSTYPE" == "darwin"* ]]; then
              brew install mongosh
            fi
          else
            echo "mongosh is already installed at $(which mongosh)"
          fi
          mongosh --version
      - name: Verify go.mod is tidy
        run: |
          go mod tidy
          git diff --exit-code
      - name: Run all tests
        run: go test -p=8 -timeout 30m -ldflags "-w -s" -v ./backend/... | tee test.log; exit ${PIPESTATUS[0]}
      - name: Pretty print tests running time
        # grep: filter out lines like "--- PASS: Test (15.04s)"
        # sed: remove unnecessary characters
        # awk: re-format lines to "PASS: Test (15.04s)"
        # sort: cut into columns by delimiter ' ' (single space) and sort by column 3 (test time in seconds) as numeric type in reverse order (largest comes first)
        # awk: accumulate sum by test time in seconds
        run: grep --color=never -e '--- PASS:' -e '--- FAIL:' test.log | sed 's/[:()]//g' | awk '{print $2,$3,$4}' | sort -t' ' -nk3 -r | awk '{sum += $3; print $1,$2,$3,sum"s"}'
