name: Backend Tests

on:
  pull_request:
    branches:
      - main
      - "release/*.*.*"
    paths:
      - "backend/**"

jobs:
  golangci-lint:
    runs-on: self-hosted
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.1
      - name: Verify go.mod is tidy
        run: |
          go mod tidy
          git diff --exit-code
      - name: Cache MySQL
        uses: actions/cache@v3
        with:
          path: |
            ./backend/resources/mysql/*.tar.gz
            ./backend/resources/mysql/*.tar.xz
          key: ${{ runner.OS }}-build-mysql-cache
      - name: Install dependencies
        run: go generate -tags mysql ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
          args: --verbose --timeout 20m --max-same-issues=30
          skip-cache: true

  go-tests:
    strategy:
      matrix:
        release-tags:
          - "mysql"
    runs-on: self-hosted
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.1
      - name: Cache MySQL
        uses: actions/cache@v3
        with:
          path: |
            ./backend/resources/mysql/*.tar.gz
            ./backend/resources/mysql/*.tar.xz
          key: ${{ runner.OS }}-build-mysql-cache
      - name: Install dependencies
        run: go generate -tags ${{ matrix.release-tags }} ./...
      - name: Run all tests
        run: go test -v ./... -tags=${{ matrix.release-tags }} -p=10 | tee test.log; exit ${PIPESTATUS[0]}
      - name: Pretty print tests running time
        # grep: filter out lines like "--- PASS: TestVCS (15.04s)"
        # sed: remove unnecessary characters
        # awk: re-format lines to "PASS: TestVCS (15.04s)"
        # sort: cut into columns by delimiter ' ' (single space) and sort by column 3 (test time in seconds) as numeric type in reverse order (largest comes first)
        # awk: accumulate sum by test time in seconds
        run: grep --color=never -e '--- PASS:' -e '--- FAIL:' test.log | sed 's/[:()]//g' | awk '{print $2,$3,$4}' | sort -t' ' -nk3 -r | awk '{sum += $3; print $1,$2,$3,sum"s"}'
