name: build release image and push to docker hub

on:
  push:
    tags:
      # Run on pushing version tag like `1.0.0`
      - '*.*.*'

jobs:
  build-release-image:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          # Extract the version from the tag
          tags: bytebase/bytebase:${GITHUB_REF##*/}
      - name: Image digest
        run: echo "Successfully pushed bytebase/bytebase:" ${GITHUB_REF##*/} " " ${{ steps.docker_build.outputs.digest }}
