name: Draft release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Release
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --config scripts/.goreleaser-release.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
