name: golangci-lint

on:
  pull_request:
    branches:
      - 'main'
      - 'release/*.*.*'
    paths:
      - 'backend/**'
      - 'action/**'
      - 'go.mod'
      - 'proto/**/*.go'
      - '.golangci.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  golangci-lint:
    runs-on: self-hosted
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'
          cache: false # Caching is slow.
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.5.0
          args: --verbose -j 8 --timeout 30m --max-same-issues=30 --allow-parallel-runners
          skip-cache: true