name: Proto linter

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'proto/**'

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-protos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: buf
        uses: bufbuild/buf-action@v1
        with:
          input: "proto"
          breaking: false
          token: ${{ secrets.BUF_TOKEN }}
