name: build release binaries and create release notes.

on:
  push:
    tags:
      - "*.*.*"

jobs:
  release-binary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.10.0
      - uses: actions/setup-node@v3
        with:
          node-version: "14"
          cache: pnpm
          cache-dependency-path: "frontend/pnpm-lock.yaml"
      - run: pnpm install --frozen-lockfile
        working-directory: frontend
      - run: pnpm release
        working-directory: frontend
      - name: Extract version
        run: git tag ${GITHUB_REF_NAME#release/}
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Release
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
