name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17
      - name: go generate -tags mysql ./...
        run: go generate -tags mysql ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.45.2
          args: -v

  go-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Verify go.mod is tidy
        run: |
          go mod tidy
          git diff --exit-code

  go-tests:
    strategy:
      matrix:
        release-tags:
          - "release,"
          - ""
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Cache MySQL
        uses: actions/cache@v2
        with:
          path: |
            ./resources/mysql/*.tar.gz
            ./resources/mysql/*.tar.xz
          key: ${{ runner.OS }}-build-mysql-cache
      # Release mode needs to embed frontend dist
      - name: Touch garbage dist/index.html
        if: ${{ matrix.release-tags }}
        run: |
          mkdir -p server/dist
          touch server/dist/index.html
      - name: Install dependencies
        run: go generate -tags ${{ matrix.release-tags }}mysql ./...
      - name: Run all tests
        timeout-minutes: 15
        run: go test -v ./... -tags=${{ matrix.release-tags }}mysql
