name: Release Test Link

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "frontend/**"

 go-tests:
    runs-on: self-hosted
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21.3
          cache: false
      - name: Test link in product is valid
        run: go test -timeout 600s -v ./scripts/... -p=10 | tee test.log; exit ${PIPESTATUS[0]}
