name: Test

on:
  push:
    branches:
      - main
      - "release/*.*.*"
  pull_request:

jobs:
  go-static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          # TODO(dragonly): switch to go 1.18 when all linters are supported.
          go-version: 1.17
          check-latest: true
          cache: true
      - name: Verify go.mod is tidy
        run: |
          go mod tidy
          git diff --exit-code
      - name: go generate -tags mysql ./...
        run: go generate -tags mysql ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.45.2
          args: -v
          skip-cache: true

  # Copied from build-artifacts-and-draft-release.yml, should be consistent if updating build-artifacts-and-draft-release.yml.
  release-dry-run-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.10.0
      - uses: actions/setup-node@v3
        with:
          node-version: "14"
          cache: pnpm
          cache-dependency-path: "frontend/pnpm-lock.yaml"
      - run: pnpm install --frozen-lockfile
        working-directory: frontend
      - run: pnpm release
        working-directory: frontend
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check-latest: true
          cache: true
      - name: Release dry-run
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --skip-publish --config .goreleaser-for-linux.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-dry-run-darwin:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.10.0
      - uses: actions/setup-node@v3
        with:
          node-version: "14"
          cache: pnpm
          cache-dependency-path: "frontend/pnpm-lock.yaml"
      - run: pnpm install --frozen-lockfile
        working-directory: frontend
      - run: pnpm release
        working-directory: frontend
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check-latest: true
          cache: true
      - name: Release dry-run
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --skip-publish --config .goreleaser-for-darwin.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  go-tests:
    strategy:
      matrix:
        release-tags:
          - "release,mysql"
          - "mysql"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check-latest: true
          cache: true
      - name: Cache MySQL
        uses: actions/cache@v3
        with:
          path: |
            ./resources/mysql/*.tar.gz
            ./resources/mysql/*.tar.xz
          key: ${{ runner.OS }}-build-mysql-cache
      # Release mode needs to embed frontend dist
      - name: Touch garbage dist/index.html
        if: ${{ matrix.release-tags == 'release,mysql' }}
        run: |
          mkdir -p server/dist
          touch server/dist/index.html
      - name: Install dependencies
        run: go generate -tags ${{ matrix.release-tags }} ./...
      - name: Run all tests
        run: go test -v ./... -tags=${{ matrix.release-tags }} -p=10 | tee test.log; exit ${PIPESTATUS[0]}
      - name: Pretty print tests running time
        # grep: filter out lines like "--- PASS: TestVCS (15.04s)"
        # sed: remove unnecessary characters
        # awk: re-format lines to "PASS: TestVCS (15.04s)"
        # sort: cut into columns by delimiter ' ' (single space) and sort by column 3 (test time in seconds) as numeric type in reverse order (largest comes first)
        # awk: accumulate sum by test time in seconds
        run: grep --color=never -e '--- PASS:' -e '--- FAIL:' test.log | sed 's/[:()]//g' | awk '{print $2,$3,$4}' | sort -t' ' -nk3 -r | awk '{sum += $3; print $1,$2,$3,sum"s"}'
