:root {
  /* indigo-600 */
  --color-accent: #4f46e5;
  /* indigo-300 */
  --color-accent-disabled: #a5b4fc;
  /* indigo-800 */
  --color-accent-hover: #3730a3;
  /* white */
  --color-accent-text: #ffffff;

  /* gray-900 */
  --color-main: #18181b;
  /* gray-700 */
  --color-main-hover: #3f3f46;
  /* white */
  --color-main-text: #ffffff;

  /* gray-700 */
  --color-control: #52525b;
  /* gray-900 */
  --color-control-hover: #18181b;

  /* gray-500 */
  --color-control-light: #71717a;
  /* gray-600 */
  --color-control-light-hover: #52525b;

  /* gray-100 */
  --color-control-bg: #f3f4f6;
  /* gray-200 */
  --color-control-bg-hover: #e5e7eb;

  /* gray-400 */
  --color-control-placeholder: #a1a1aa;

  /* blue-600 */
  --color-info: #2563eb;
  /* blue-700 */
  --color-info-hover: #1d4ed8;

  /* yellow-500 */
  --color-warning: #f59e0b;
  /* yellow-700 */
  --color-warning-hover: #b45309;

  /* red-600 */
  --color-error: #dc2626;
  /* red-700 */
  --color-error-hover: #b91c1c;

  /* green-600 */
  --color-success: #16a34a;
  /* green-700 */
  --color-success-hover: #15803d;

  /* gray-200 */
  --color-link-hover: #e5e7eb;

  /* gray-200 */
  --color-block-border: #e5e7eb;
  /* gray-300 */
  --color-control-border: #d1d5db;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply select-none inline-flex border border-transparent rounded-md text-accent-text bg-accent hover:bg-accent-hover disabled:bg-accent disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-normal {
  @apply select-none inline-flex border border-control-border rounded-md text-control bg-white hover:bg-control-bg-hover disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-secondary {
  @apply select-none inline-flex items-center text-main hover:text-control-hover disabled:opacity-50 disabled:cursor-not-allowed text-sm leading-5 font-normal focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-small {
  @apply select-none inline-flex border border-control-border rounded-md text-control bg-white hover:bg-control-bg-hover disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed px-2 text-xs leading-5 focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-select {
  @apply text-sm select-none text-main bg-white border border-control-border disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed rounded-md shadow-sm text-left cursor-default focus:outline-none focus:ring-1 focus:ring-control focus:border-control;
}

.btn-cancel {
  @apply select-none inline-flex text-control rounded-md hover:bg-control-bg-hover disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-icon {
  @apply cursor-pointer flex flex-row items-center select-none rounded-full text-control bg-transparent hover:text-control-hover disabled:opacity-50 disabled:cursor-not-allowed focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-1;
}

.btn-icon-primary {
  @apply select-none rounded-full text-white bg-accent hover:bg-accent-hover disabled:opacity-50 disabled:cursor-not-allowed focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-1;
}

.btn-danger {
  @apply select-none inline-flex border border-transparent rounded-md text-accent-text bg-error hover:bg-error-hover disabled:bg-error disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-success {
  @apply select-none inline-flex border border-transparent rounded-md text-accent-text bg-success hover:bg-success-hover disabled:bg-success disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.tab {
  @apply rounded-md text-control font-normal text-sm focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.control {
  @apply focus:ring-control focus:border-control border-control-border rounded-md select-none;
}

.textlabel {
  @apply text-sm font-medium text-control;
}

.textinfolabel {
  @apply text-sm font-normal text-control-light;
}

.textlabeltip {
  @apply text-xs font-normal text-red-500 ml-2;
}

.textfield {
  @apply text-main disabled:text-control disabled:bg-gray-50 focus:ring-control focus:border-control sm:text-sm border-control-border rounded-md;
}

.textarea {
  @apply text-main focus:ring-control focus:border-control sm:text-sm border-control-border shadow-sm;
}

.radio-set-row {
  @apply flex flex-row items-center space-x-4;
}

.radio-set-col {
  @apply flex flex-col space-y-2;
}

.radio {
  @apply flex items-center;
}

.radio .btn {
  @apply focus:ring-accent h-4 w-4 text-accent select-none;
}

.radio .label {
  @apply ml-1.5 block text-sm font-medium text-gray-700 select-none;
}

.outline-title {
  @apply text-main w-full items-center text-xs leading-5 font-semibold focus:outline-none select-none tracking-wider;
}

.outline-title.toplevel {
  @apply text-control-light text-sm font-normal tracking-tight;
}

.outline-title.collapsible {
  @apply cursor-pointer hover:bg-link-hover;
}

.outline-item {
  @apply text-control cursor-pointer w-full items-center hover:bg-link-hover text-sm leading-5 focus:outline-none select-none;
}

.menu-item {
  @apply cursor-pointer block px-4 py-2 text-sm leading-5 text-control hover:bg-control-bg hover:text-control-hover focus:outline-none focus:bg-control-bg focus:text-control-hover;
}

.bar-link {
  @apply cursor-pointer text-main hover:bg-link-hover focus:outline-none;
}

.accent-link {
  @apply cursor-pointer text-accent font-medium hover:underline focus:outline-none;
}

.normal-link {
  @apply cursor-pointer text-blue-600 hover:underline hover:text-blue-800 focus:outline-none;
}

.icon-link {
  @apply cursor-pointer text-control hover:bg-link-hover focus:outline-none;
}

.anchor-link {
  @apply cursor-pointer hover:underline focus:outline-none;
}

.tooltip-wrapper {
  @apply relative;
}

.tooltip {
  @apply invisible absolute -mt-8 ml-2 px-2 py-1 rounded bg-black bg-opacity-75 text-white;
}

.tooltip-wrapper:hover .tooltip {
  @apply visible z-50;
}

.fade-enter-active,
.fade-leave-active,
.fade-fast-enter-active,
.fade-fast-leave-active,
.fade-slow-enter-active,
.fade-slow-leave-active {
  @apply transition-opacity ease-in-out duration-300;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  @apply duration-100;
}

.fade-slow-enter-active,
.fade-slow-leave-active {
  @apply duration-500;
}

.fade-enter-from,
.fade-leave-to,
.fade-fast-enter-from,
.fade-fast-leave-to,
.fade-slow-enter-from,
.fade-slow-leave-to {
  @apply opacity-0;
}
