:root {
  /* indigo-600 */
  --color-accent: #4f46e5;
  /* indigo-800 */
  --color-accent-hover: #3730a3;
  /* white */
  --color-accent-text: #ffffff;

  /* gray-900 */
  --color-main: #18181b;

  /* gray-700 */
  --color-control: #52525b;
  /* gray-900 */
  --color-control-hover: #18181b;

  /* gray-500 */
  --color-control-light: #71717a;
  /* gray-600 */
  --color-control-light-hover: #52525b;

  /* gray-100 */
  --color-control-bg: #f3f4f6;
  /* gray-200 */
  --color-control-bg-hover: #e5e7eb;

  /* gray-400 */
  --color-control-placeholder: #a1a1aa;

  /* red-600 */
  --color-error: #dc2626;
  /* red-700 */
  --color-error-hover: #b91c1c;

  /* green-600 */
  --color-success: #16a34a;
  /* green-700 */
  --color-success-hover: #15803d;

  /* gray-200 */
  --color-link-hover: #e5e7eb;

  /* gray-200 */
  --color-block-border: #e5e7eb;
  /* gray-300 */
  --color-control-border: #d1d5db;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply inline-flex border border-transparent rounded-md text-accent-text bg-accent hover:bg-accent-hover disabled:bg-accent disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-normal {
  @apply inline-flex border border-control-border rounded-md text-control bg-control-bg hover:bg-control-bg-hover disabled:bg-control-bg disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-icon {
  @apply rounded-full text-control bg-white hover:bg-transparent disabled:opacity-50 disabled:cursor-not-allowed focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-1;
}

.btn-icon-primary {
  @apply rounded-full text-white bg-accent hover:bg-accent-hover disabled:opacity-50 disabled:cursor-not-allowed focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-1;
}

.btn-danger {
  @apply inline-flex border border-transparent rounded-md text-accent-text bg-error hover:bg-error-hover disabled:bg-error disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.btn-success {
  @apply inline-flex border border-transparent rounded-md text-accent-text bg-success hover:bg-success-hover disabled:bg-success disabled:opacity-50 disabled:cursor-not-allowed px-4 py-2 text-sm leading-5 font-medium focus:ring-control focus:outline-none focus-visible:ring-2 focus:ring-offset-2;
}

.control {
  @apply focus:ring-control focus:border-control border-control-border rounded-md;
}

.textlabel {
  @apply text-sm font-medium text-control-light;
}

.textfield {
  @apply text-main focus:ring-control focus:border-control sm:text-sm border-control-border rounded-md;
}

.link {
  @apply text-main hover:underline focus:outline-none;
}

.accent-link {
  @apply text-accent font-medium hover:underline focus:outline-none;
}

.icon-link {
  @apply text-control hover:bg-link-hover focus:outline-none;
}

.sidebar-link {
  @apply text-control hover:bg-link-hover text-sm leading-5 font-medium focus:outline-none select-none;
}

.anchor-link {
  @apply hover:underline focus:outline-none;
}
